{% extends 'base.html.twig' %}

{% block title %}New OcProduits{% endblock %}

{% block body %}
    <h1>Create new OcProduits</h1>

    {{ include('oc_produits/_form.html.twig') }}

    <a href="{{ path('app_oc_produits_index') }}">back to list</a>
{% endblock %}
