{% extends 'base.html.twig' %}

{% block title %}Edit OcTypeProduit{% endblock %}

{% block body %}
    <h1>Edit OcTypeProduit</h1>

    {{ include('oc_type_produit/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_oc_type_produit_index') }}">back to list</a>

    {{ include('oc_type_produit/_delete_form.html.twig') }}
{% endblock %}
