{% extends 'base.html.twig' %}

{% block title %}New OcTypeProduit{% endblock %}

{% block body %}
    <h1>Create new OcTypeProduit</h1>

    {{ include('oc_type_produit/_form.html.twig') }}

    <a href="{{ path('app_oc_type_produit_index') }}">back to list</a>
{% endblock %}
