{% extends 'base.html.twig' %}

{% block title %}New OcProduitMedicaments{% endblock %}

{% block body %}
    <h1>Create new OcProduitMedicaments</h1>

    {{ include('oc_produit_medicaments/_form.html.twig') }}

    <a href="{{ path('app_oc_produit_medicaments_index') }}">back to list</a>
{% endblock %}
