<form method="post" action="{{ path('app_oc_prescripteurs_delete', {'id': oc_prescripteur.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ oc_prescripteur.id) }}">
    <button class="btn">Delete</button>
</form>
