{% extends 'base.html.twig' %}

{% block title %}New OcPrescripteurs{% endblock %}

{% block body %}
    <h1>Create new OcPrescripteurs</h1>

    {{ include('oc_prescripteurs/_form.html.twig') }}

    <a href="{{ path('app_oc_prescripteurs_index') }}">back to list</a>
{% endblock %}
