{% extends 'base.html.twig' %}

{% block title %}New OcPatients{% endblock %}

{% block body %}
    <h1>Create new OcPatients</h1>

    {{ include('oc_patients/_form.html.twig') }}

    <a href="{{ path('app_oc_patients_index') }}">back to list</a>
{% endblock %}
