<form method="post" action="{{ path('app_bulletin_examens_delete', {'id': bulletin_examen.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet enregistrement ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bulletin_examen.id) }}">
    <button class="btn btn-danger"><i class="far fa-trash-alt"></i> Supprimer</button>
</form>