{% extends 'base.html.twig' %}

{% block title %}New BulletinExamens{% endblock %}

{% block body %}
    <h1>Create new BulletinExamens</h1>

    {{ include('bulletin_examens/_form.html.twig') }}

    <a href="{{ path('app_bulletin_examens_index') }}">back to list</a>
{% endblock %}
